In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('DATA/TrainKPMG.csv')
suppliers_df = pd.read_csv('DATA/Suppliers.csv')

In [3]:
print("\nFirst few rows of suppliers DataFrame:")
suppliers_df.head()

First few rows of suppliers DataFrame:

,Account_Number_of_Vendor_or_Creditor,Country_Key,Name_1,City,Search_term_for_matchcode_search,Central_Deletion_Flag_for_Master_Record,Central_posting_block,Centrally_imposed_purchasing_block,Indicator:_Is_the_account_a_one-time_account?,Indicator:_Alternative_payee_in_document_allowed?
0,10051195,DZD,Saveurs Aromatiques,NaN,Saveurs Aromatiques,NaN,NaN,NaN,NaN,NaN
1,12303095,DZD,Saveurs du Maghreb,"22 Rue Ahmed Zabana, Alger",Saveurs du Maghreb,NaN,NaN,NaN,NaN,NaN
2,10059432,DZD,Saveurs Gourmandes,NaN,Saveurs Gourmandes,NaN,NaN,NaN,NaN,NaN
3,10058190,DZD,Grillades du Sahara,"8 Boulevard Mohamed V, Tamanrasset",Grillades du Sahara,NaN,NaN,NaN,NaN,NaN
4,10058218,DZD,Thé du Sahara,NaN,Thé du Sahara,NaN,NaN,NaN,NaN,NaN

In [6]:
suppliers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38463 entries, 0 to 38462
Data columns (total 10 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Account_Number_of_Vendor_or_Creditor               38463 non-null  object
 1   Country_Key                                        38463 non-null  object
 2   Name_1                                             38463 non-null  object
 3   City                                               8430 non-null   object
 4   Search_term_for_matchcode_search                   38463 non-null  object
 5   Central_Deletion_Flag_for_Master_Record            7207 non-null   object
 6   Central_posting_block                              2565 non-null   object
 7   Centrally_imposed_purchasing_block                 1889 non-null   object
 8   Indicator:_Is_the_account_a_one-time_account?      19 non-null     object
 9   Indicator:_Alternative_payee_in_document_allowed?  18 non-null     object
dtypes: object(10)
memory usage: 2.9+ MB

In [7]:
suppliers_df['Wilaya'] = suppliers_df['City'].str.split(',').str[1].str.strip()

In [8]:
suppliers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38463 entries, 0 to 38462
Data columns (total 11 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Account_Number_of_Vendor_or_Creditor               38463 non-null  object
 1   Country_Key                                        38463 non-null  object
 2   Name_1                                             38463 non-null  object
 3   City                                               8430 non-null   object
 4   Search_term_for_matchcode_search                   38463 non-null  object
 5   Central_Deletion_Flag_for_Master_Record            7207 non-null   object
 6   Central_posting_block                              2565 non-null   object
 7   Centrally_imposed_purchasing_block                 1889 non-null   object
 8   Indicator:_Is_the_account_a_one-time_account?      19 non-null     object
 9   Indicator:_Alternative_payee_in_document_allowed?  18 non-null     object
 10  Wilaya                                             8430 non-null   object
dtypes: object(11)
memory usage: 3.2+ MB

In [9]:
suppliers_df['Country_Key'].value_counts()

Country_Key
DZD    38463
Name: count, dtype: int64

In [10]:
new_suppliers_df = suppliers_df.drop(columns=['Country_Key','City','Central_Deletion_Flag_for_Master_Record','Central_posting_block','Centrally_imposed_purchasing_block','Indicator:_Is_the_account_a_one-time_account?','Indicator:_Alternative_payee_in_document_allowed?'])

In [11]:
new_suppliers_df.head()

,Account_Number_of_Vendor_or_Creditor,Name_1,Search_term_for_matchcode_search,Wilaya
0,10051195,Saveurs Aromatiques,Saveurs Aromatiques,NaN
1,12303095,Saveurs du Maghreb,Saveurs du Maghreb,Alger
2,10059432,Saveurs Gourmandes,Saveurs Gourmandes,NaN
3,10058190,Grillades du Sahara,Grillades du Sahara,Tamanrasset
4,10058218,Thé du Sahara,Thé du Sahara,NaN

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 21 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Account_Number_of_Vendor_or_Creditor                     61600 non-null  object
 1   Purchasing_Document_Number                               61600 non-null  int64
 2   Item_Number_of_Purchasing_Document                       61600 non-null  int64
 3   Is_the_order_deleted                                     0 non-null      float64
 4   Purchasing_Document_Item _Date                           61600 non-null  object
 5   Material_Number                                          25949 non-null  object
 6   Net_Price_in_Purchasing_Document_(in Document Currency)  61600 non-null  int64
 7   Account_Assignment_Category                              61600 non-null  object
 8   Country_Key                                              61600 non-null  object
 9   Name_1                                                   61600 non-null  object
 10  City                                                     12875 non-null  object
 11  Search_term_for_matchcode_search                         61600 non-null  object
 12  Central_Deletion_Flag_for_Master_Record                  111 non-null    object
 13  Central_posting_block                                    542 non-null    object
 14  Centrally_imposed_purchasing_block                       327 non-null    object
 15  Indicator:_Is_the_account_a_one-time_account?            0 non-null      float64
 16  Indicator:_Alternative_payee_in_document_allowed?        33 non-null     object
 17  Created_On                                               25949 non-null  object
 18  Flag_Material_for_Deletion_at_Client_Level               118 non-null    object
 19  Base_Unit_of_Measure                                     25949 non-null  object
 20  Net_Weight                                               25949 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 9.9+ MB

In [13]:
train_df['Wilaya'] = train_df['City'].str.split(',').str[1].str.strip()

In [14]:
new_train_df = train_df.drop(columns=['Is_the_order_deleted','Country_Key','City','Central_Deletion_Flag_for_Master_Record','Central_posting_block','Centrally_imposed_purchasing_block','Indicator:_Is_the_account_a_one-time_account?','Indicator:_Alternative_payee_in_document_allowed?',])

In [15]:
new_train_df.head(1)

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Name_1,Search_term_for_matchcode_search,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Wilaya
0,502751,4500017998,1,2007-06-18,NaN,10000,Partnership,Saveurs du Maghreb,Saveurs du Maghreb,NaN,NaN,NaN,NaN,Alger

In [16]:
new_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 14 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Account_Number_of_Vendor_or_Creditor                     61600 non-null  object
 1   Purchasing_Document_Number                               61600 non-null  int64
 2   Item_Number_of_Purchasing_Document                       61600 non-null  int64
 3   Purchasing_Document_Item _Date                           61600 non-null  object
 4   Material_Number                                          25949 non-null  object
 5   Net_Price_in_Purchasing_Document_(in Document Currency)  61600 non-null  int64
 6   Account_Assignment_Category                              61600 non-null  object
 7   Name_1                                                   61600 non-null  object
 8   Search_term_for_matchcode_search                         61600 non-null  object
 9   Created_On                                               25949 non-null  object
 10  Flag_Material_for_Deletion_at_Client_Level               118 non-null    object
 11  Base_Unit_of_Measure                                     25949 non-null  object
 12  Net_Weight                                               25949 non-null  float64
 13  Wilaya                                                   12875 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 6.6+ MB

In [17]:
len(new_train_df.columns)

14

In [3]:
test_df = pd.read_csv('DATA/TestKPMG.csv')

In [19]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19901 entries, 0 to 19900
Data columns (total 12 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   ID                                                       19901 non-null  object
 1   Purchasing_Document_Number                               19901 non-null  int64
 2   Item_Number_of_Purchasing_Document                       19901 non-null  int64
 3   Is_the_order_deleted                                     0 non-null      float64
 4   Purchasing_Document_Item _Date                           19901 non-null  object
 5   Material_Number                                          9708 non-null   object
 6   Net_Price_in_Purchasing_Document_(in Document Currency)  19901 non-null  int64
 7   Account_Assignment_Category                              19901 non-null  object
 8   Created_On                                               9708 non-null   object
 9   Flag_Material_for_Deletion_at_Client_Level               2 non-null      object
 10  Base_Unit_of_Measure                                     9708 non-null   object
 11  Net_Weight                                               9708 non-null   float64
dtypes: float64(2), int64(3), object(7)
memory usage: 1.8+ MB

In [20]:
new_test_df = test_df.drop(columns=['Is_the_order_deleted'])

In [21]:
len(new_test_df.columns)

11

In [22]:
train_ids = new_train_df['Purchasing_Document_Number']

In [23]:
matching_rows = new_test_df[new_test_df['Purchasing_Document_Number'].isin(train_ids)]

In [24]:
matching_rows

,ID,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight
24,45005440_20,45005440,20,2023-10-02,100119,10000,Vendor,2019-04-19,NaN,KG,15.0
36,4220039540_30,4220039540,30,2023-10-02,NaN,2501000,Partnership,NaN,NaN,NaN,NaN
46,4500162802_30,4500162802,30,2023-10-02,FACONNAGE,10000,Partnership,2006-07-20,NaN,UN,0.0
55,5500008268_30,5500008268,30,2023-10-02,30040005,168150,Vendor,2006-06-01,NaN,KG,25.0
56,5500008268_10,5500008268,10,2023-10-02,30040001,168150,Vendor,1998-10-01,NaN,KG,15.0
...,...,...,...,...,...,...,...,...,...,...,...
19840,4210135777_500,4210135777,500,2024-01-12,7046315,10000,Vendor,2018-01-30,NaN,UN,0.0
19850,4210134191_210,4210134191,210,2024-01-12,7026107,10000,Vendor,2007-12-18,NaN,UN,0.0
19852,4210134191_190,4210134191,190,2024-01-12,7051395,10000,Vendor,2021-04-26,NaN,UN,0.0
19862,4220038825_40,4220038825,40,2024-01-12,NaN,869500,Partnership,NaN,NaN,NaN,NaN
19897,4220038512_30,4220038512,30,2024-01-12,NaN,5130,Partnership,NaN,NaN,NaN,NaN

In [25]:
train_ids = matching_rows['Purchasing_Document_Number']

In [26]:
train_ids

24         45005440
36       4220039540
46       4500162802
55       5500008268
56       5500008268
            ...
19840    4210135777
19850    4210134191
19852    4210134191
19862    4220038825
19897    4220038512
Name: Purchasing_Document_Number, Length: 631, dtype: int64

In [27]:
merged_data = pd.merge(matching_rows, new_train_df[['Purchasing_Document_Number', 'Account_Number_of_Vendor_or_Creditor']], 
                       on='Purchasing_Document_Number', how='left')

In [28]:
merged_data.head()

,ID,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Account_Number_of_Vendor_or_Creditor
0,45005440_20,45005440,20,2023-10-02,100119,10000,Vendor,2019-04-19,NaN,KG,15.0,12305
1,4220039540_30,4220039540,30,2023-10-02,NaN,2501000,Partnership,NaN,NaN,NaN,NaN,510657
2,4220039540_30,4220039540,30,2023-10-02,NaN,2501000,Partnership,NaN,NaN,NaN,NaN,510657
3,4500162802_30,4500162802,30,2023-10-02,FACONNAGE,10000,Partnership,2006-07-20,NaN,UN,0.0,271325
4,4500162802_30,4500162802,30,2023-10-02,FACONNAGE,10000,Partnership,2006-07-20,NaN,UN,0.0,271325

In [29]:
len(merged_data)

7922

In [30]:
submissions_df = pd.read_csv('DATA/SampleSubmissionKPMG.csv')

In [31]:
submissions_df

                   ID  Account_Number_of_Vendor_or_Creditor
0       4400010190_10                                     0
1       4500171069_10                                     0
2       4210140249_20                                     0
3       4500171067_20                                     0
4       4210140249_10                                     0
...               ...                                   ...
19896   4220040334_20                                     0
19897   4220038512_30                                     0
19898   5500008347_10                                     0
19899   4210142872_10                                     0
19900  4210142812_220                                     0

[19901 rows x 2 columns]

In [32]:
id_account_dict = dict(zip(merged_data['ID'], merged_data['Account_Number_of_Vendor_or_Creditor']))

In [33]:
len(id_account_dict)

631

In [34]:
for index, row in submissions_df.iterrows():
    id_value = row['ID']
    if id_value in id_account_dict:
        submissions_df.at[index, 'Account_Number_of_Vendor_or_Creditor'] = id_account_dict[id_value]

/tmp/ipykernel_16830/522038198.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12305' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  submissions_df.at[index, 'Account_Number_of_Vendor_or_Creditor'] = id_account_dict[id_value]

In [35]:
count_zero = submissions_df['Account_Number_of_Vendor_or_Creditor'].value_counts().get(0, 0)
print("Number of occurrences of 0:", count_zero)

Number of occurrences of 0: 19270

In [36]:
submissions_df.to_csv

<bound method NDFrame.to_csv of                    ID Account_Number_of_Vendor_or_Creditor
0       4400010190_10                                    0
1       4500171069_10                                    0
2       4210140249_20                                    0
3       4500171067_20                                    0
4       4210140249_10                                    0
...               ...                                  ...
19896   4220040334_20                                    0
19897   4220038512_30                               500323
19898   5500008347_10                                    0
19899   4210142872_10                                    0
19900  4210142812_220                                    0

[19901 rows x 2 columns]>

## from matrial id

In [97]:
material_account_dict = dict(zip(train_df['Material_Number'], train_df['Account_Number_of_Vendor_or_Creditor']))

In [98]:
material_account_dict

{nan: '505994',
 '110342': '650027',
 '7027483': '600465',
 '110344': '650027',
 '110341': '650027',
 '7028122': '600326',
 '7028144': '600326',
 '7022257': '600607',
 '7023675': '600415',
 '910816': '650009',
 '7031350': '600469',
 '7027895': '600469',
 '7031351': '600469',
 '7022345': '600303',
 '7026661': '600347',
 '7025832': '600262',
 '7028701': '600347',
 '7028702': '600262',
 '110338': '650066',
 '110340': '650066',
 '7022247': '600607',
 '7026606': '600347',
 '110339': '650066',
 '110336': '650066',
 '110337': '650066',
 '7021867': '600303',
 '7033852': '600413',
 '7027700': '600262',
 '7027816': '600262',
 '7022263': '600320',
 '7022244': '600607',
 '7027531': '600420',
 '7024794': '600420',
 '7027737': '600136',
 '7022242': '600607',
 '7024055': '600420',
 '7022252': '600607',
 '7022251': '600607',
 '7028891': '600607',
 '7022234': '600607',
 '7022240': '600607',
 '7021193': '600262',
 '7025909': '600347',
 '7026194': '600303',
 '7022265': '600607',
 '7021191': '600262',
 '7031620': '600262',
 '7026613': '600262',
 '7026649': '600347',
 '7026542': '600262',
 '7025637': '600262',
 '7030670': '600298',
 '7026766': '600262',
 '7025636': '600262',
 '7027893': '600469',
 '7027926': '600469',
 '7027924': '600469',
 '7025638': '600262',
 '7025635': '600262',
 '7028198': '601709',
 '110300': '650086',
 '7030132': '600336',
 '7030143': '600336',
 '7025036': '600336',
 '7030123': '600336',
 '7030160': '600336',
 '7030131': '600336',
 '7030124': '600336',
 '7030126': '600336',
 '7030163': '600336',
 '7030127': '600336',
 '7030142': '600336',
 '7030140': '600336',
 '7030139': '600336',
 '7030128': '600336',
 '7030144': '600336',
 '7030138': '600336',
 '7030137': '600336',
 '7030136': '600336',
 '7030134': '600336',
 '7030129': '600336',
 '7030133': '600336',
 '7030130': '600336',
 '7030150': '600336',
 '7030153': '600336',
 '7030158': '600336',
 '7030159': '600336',
 '7030164': '600336',
 '7030151': '600336',
 '7030152': '600336',
 '7030154': '600336',
 '7030155': '600336',
 '7030156': '600336',
 '7030157': '600336',
 '7028177': '600469',
 '7021053': '600469',
 '7028181': '600347',
 '7033541': '600401',
 '7023817': '600413',
 '7021305': '600413',
 '7021313': '600413',
 '7029830': '602180',
 '7023811': '600413',
 '7022502': '600413',
 '7026515': '600262',
 '7028067': '600262',
 '7030680': '600262',
 '7026773': '600347',
 '7025835': '600262',
 '7026774': '600262',
 '7032731': '600262',
 '7021198': '600262',
 '7026543': '600262',
 '7026544': '600262',
 '7031321': '600347',
 '7026494': '600262',
 '7028959': '600262',
 '7025705': '600262',
 '7028958': '600262',
 '7039290': '600262',
 '7026764': '600262',
 '7026770': '600262',
 '7026769': '600262',
 '7022259': '600262',
 '7021396': '600262',
 '7039652': '600328',
 '7039646': '600328',
 '7039650': '600328',
 '7032342': '600328',
 '7039651': '600328',
 '7039645': '600328',
 '7029008': '600328',
 '7032334': '600328',
 '7032335': '600328',
 '7032341': '600328',
 '7030361': '600328',
 '7035853': '601959',
 '7025044': '600324',
 '110311': '650179',
 '7035205': '600309',
 '7035200': '600309',
 '7035206': '600309',
 '7035201': '600309',
 '7035207': '600309',
 '7035202': '600309',
 '7021769': '600469',
 '7026118': '602990',
 '7032391': '602990',
 '7026601': '601775',
 '7026163': '602990',
 '7031743': '601775',
 '7035204': '600309',
 '7035203': '600309',
 '7028145': '600309',
 '910903': '271901',
 '7026778': '600347',
 '7021050': '600347',
 '7028100': '600347',
 '7026582': '600347',
 '7026583': '600347',
 '7026580': '600347',
 '7026652': '600347',
 '7028134': '600347',
 '7028092': '600347',
 '7027712': '600322',
 '949710': '650007',
 '7023672': '600347',
 '7028176': '600347',
 '7028275': '600347',
 '7022547': '600347',
 '7032470': '600347',
 '7026716': '600347',
 '7026714': '600347',
 '7043527': '600347',
 '7026720': '600347',
 '7026659': '600347',
 '7043520': '600347',
 '7028094': '601614',
 '7043855': '600347',
 '7028104': '600347',
 '7022664': '600929',
 '7026631': '600347',
 '7038214': '600347',
 '7028102': '600347',
 '7028106': '600347',
 '7028192': '600347',
 '7022630': '601144',
 '7045626': '600012',
 '7023217': '600012',
 '7028333': '602951',
 '7023196': '602951',
 '7030720': '600012',
 '7045624': '600012',
 '7045627': '600012',
 '7043860': '602951',
 '7045625': '600012',
 '7023204': '600012',
 '7043604': '600012',
 '7025900': '602325',
 '7025950': '602325',
 '7045935': '600320',
 '7028165': '602836',
 '7030135': '600336',
 '7030141': '600336',
 '7030161': '600336',
 '7022024': '600240',
 '110312': '650019',
 '7040457': '509774',
 '7040456': '509774',
 '7027711': '600136',
 '7027717': '600136',
 '7027902': '600322',
 '7027713': '600322',
 '7027876': '600322',
 '7027875': '600322',
 '7046315': '600322',
 '7026897': '600322',
 '7027175': '600322',
 '7027949': '600322',
 '7027908': '600322',
 '7027637': '600322',
 '7026895': '600322',
 '7026869': '600322',
 '7027954': '600322',
 '7027877': '600322',
 '7043370': '600322',
 '7043251': '600322',
 '7027941': '600322',
 '7027952': '600322',
 '7027942': '600322',
 '7027900': '600322',
 '7027635': '600322',
 '7027878': '600322',
 '7027642': '600322',
 '7043250': '600262',
 '7025977': '600262',
 '7025965': '600262',
 '7046580': '600469',
 '7046629': '600262',
 '7027615': '600347',
 '7045523': '600230',
 '7029571': '600347',
 '110309': '650005',
 '110701': '650192',
 '7048279': '509885A',
 '120207': '931810',
 '8018753': '930590',
 '7007986': '500262A',
 '7006999': '500262A',
 '7046352': '500262A',
 '7046351': '500262A',
 '8022142': '931660',
 '8019631': '930982',
 '7002024': '500030',
 '7050143': '509619',
 '7047159': '508320',
 '7045912': '508320',
 '7047592': '509911',
 '7050907': '500885',
 '7050903': '500885',
 '7050905': '500885',
 '7050906': '500885',
 '7050904': '500885',
 '7009680': '500885',
 '7037212': '500458',
 '7020052': '500424B',
 '7020055': '500424B',
 '7020053': '500424B',
 '7009623': '500885',
 '7020054': '500424B',
 '7040460': '509774',
 '7040458': '509774',
 '7012720': '502586',
 '7048727': '506331',
 '7000799': '506524A',
 '7046210': '506353',
 '7043448': '500870',
 '7048897': '500392',
 '7049011': '507685',
 '7049012': '507685',
 'FACONNAGE': '280518',
 '110124': '281921',
 '7050486': '504149',
 '7020149': '506353',
 '199010': '281309',
 '7039910': '500424A',
 '7039914': '500424A',
 '30040005': '700000C',
 '7048917': '504281',
 '7051617': '602685',
 '7036011': '506353',
 '7036012': '500287',
 '7029230': '505837',
 '7011246': '500117',
 '7019782': '507238',
 '7019879': '508841',
 '7042840': '500117',
 '922124': '271959',
 '7000509': '500036A',
 '7030736': '500036A',
 '7019501': '500541',
 '7033891': '500912',
 '7050188': '500912',
 '7050187': '500912',
 '7019511': '500912',
 '7012093': '504514',
 '7000458': '500953A',
 '7000460': '500953A',
 '7000511': '504060A',
 '7042191': '503084',
 '8027319': '930598',
 '7045369': '500159',
 '7045370': '500159',
 '7045371': '500159',
 '7051127': '504028',
 '110305': '650012',
 '55047503': '261403',
 '7045841': '505837',
 '7000247': '503238',
 '7002019': '503238',
 '7000126': '503238',
 '55076201': '261403',
 '55047504': '261403',
 '7002631': '503238',
 '7001862': '503238',
 '7049117': '503238',
 '7000122': '503238',
 '7037490': '503238',
 '7001781': '503238',
 '7000287': '503238',
 '7020550': '503238',
 '7000165': '503238',
 '7002579': '503238',
 '7002473': '503238',
 '7002630': '503238',
 '8023636': '931095',
 '8023635': '931095',
 '7000125': '503238',
 '7000196': '503238',
 '7000256': '503238',
 '7000081': '503238',
 '7001874': '503238',
 '7001842': '503238',
 '7000159': '503238',
 '7000800': '506524A',
 '7019788': '500150',
 '7043660': '502240',
 '110139': '281506',
 '7046575': '511113',
 '7037683': '509406',
 '7000337': '503238',
 '7005347': '502562A',
 '7006091': '502304',
 '122006': '270106',
 '7040798': '506700',
 '7012793': '500549',
 '7019872': '500150',
 '199301': '504028',
 '7000803': '506524A',
 '7033035': '504261',
 '7046345': '500042B',
 '7046634': '504139',
 '7050637': '504139',
 '7046633': '504139',
 '7046642': '504139',
 '7046635': '504139',
 '910114': '270606',
 '7046632': '504139',
 '120236': '930081',
 '120209': '930081',
 '120208': '930081',
 '120216': '930081',
 '120218': '930081',
 '120217': '930081',
 '970010': '12356',
 '970011': '12356',
 '120222': '930081',
 '7020487': '502588',
 '7033054': '600309',
 '7009097': '500471',
 '33315105': '740002',
 '8030954': '930790',
 '8030901': '930790',
 '8030905': '930790',
 '8030907': '930790',
 '8030903': '930790',
 '8030902': '930790',
 '8030904': '930790',
 '8030953': '930790',
 '8030900': '930790',
 '8030938': '930790',
 '8030908': '930790',
 '8030939': '930790',
 '8024360': '930790',
 '7052335': '600309',
 '7000952': '500017',
 '7000897': '500017',
 '7000896': '500017',
 '7002314': '500017',
 '7000957': '500017',
 '7000973': '500017',
 '7000949': '500017',
 '7046451': '500017',
 '7000959': '500017',
 '7028093': '601614',
 '7028112': '601614',
 '133303': '292003',
 '110355': '600049',
 '7028095': '601614',
 '110353': '602160',
 '33315106': '291802',
 '199606': '500651',
 '166305': '280705',
 '166326': '280705',
 '199604': '500651',
 '166309': '280705',
 '7002578': '503238',
 '7001864': '503238',
 '7020063': '502555',
 '33350501': '291802',
 '7004902': '500962A',
 '7004842': '500962A',
 '7004901': '500962A',
 '7004893': '500962A',
 '7004923': '500962A',
 '7004974': '500962A',
 '7001100': '500962A',
 '7012098': '504514',
 '8015725': '930321',
 '7028103': '600347',
 '7028105': '600347',
 '7028096': '601614',
 '7028097': '601614',
 '7028107': '600347',
 '7030360': '600347',
 '7028101': '600347',
 '166203': '280324',
 '120237': '930081',
 '7028098': '601614',
 '55078231': '13059',
 '7052552': '601614',
 '7004843': '500962A',
 '7052377': '650221',
 '7028111': '600347',
 '7034550': '500425',
 '7010990': '502660',
 '110111': '270209',
 '7019597': '510112',
 '8022335': '930790',
 '7011247': '500117',
 '7045390': '500154B',
 '7049028': '500392',
 '8023627': '931095',
 '7045786': '500227',
 '7020430': '500264',
 '7000451': '503238',
 '7000088': '503238',
 '7000087': '503238',
 '7000134': '503238',
 '7000299': '503238',
 '8020302': '930111',
 '7038036': '509885A',
 '7038610': '509885A',
 '7038614': '509885A',
 '7038035': '509885A',
 '7039001': '509885A',
 '7050514': '509885A',
 '7000758': '500036A',
 '7042724': '500036A',
 '7003496': '500036A',
 '7051047': '500036A',
 '7003131': '500036A',
 '7002149': '500036A',
 '7051048': '500036A',
 '7003514': '500036A',
 '55062701': '261402',
 '7052731': '600469',
 '233903': '271956',
 '7047787': '500475',
 '7052767': '600309',
 '7020066': '510112',
 '8022487': '932061',
 '8022485': '932061',
 '7052533': '500513',
 '166505': '292610',
 '7011057': '500479',
 '7021190': '600469',
 '7050232': '600469',
 '7002300': '503238',
 '7000442': '503238',
 '7000164': '503238',
 '7000497': '503238',
 '7049118': '500179',
 '7004905': '500962A',
 '7045347': '500218B',
 '9000057': '30173',
 '8023684': '930111',
 '7019728': '500962',
 '7052805': '500017',
 '7050102': '500017',
 '7007589': '500262A',
 '7007366': '500262A',
 '7005029': '502913',
 '8030421': '930053',
 '7044607': '500287',
 '8029462': '930053',
 '8027419': '930053',
 '7045353': '500218B',
 '7003627': '504059',
 '7003227': '500036A',
 '7000720': '500036A',
 '7006707': '500262A',
 '7050384': '500262A',
 '7007689': '500262A',
 '7050383': '500262A',
 '120304': '930081',
 '7050662': '507884',
 '7050654': '507884',
 '7050658': '507884',
 '7050661': '507884',
 '7050655': '507884',
 '7050656': '507884',
 '7050660': '507884',
 '7050657': '507884',
 '7005674': '500250A',
 '7050746': '500424B',
 '7002330': '500424B',
 '7002581': '500424B',
 '7040330': '500424B',
 '8023451': '930035',
 '8023458': '930035',
 '8001762': '930372',
 '8010042': '931873',
 '8010043': '931873',
 '7021316': '600413',
 '8008880': '932091',
 '8030699': '931873',
 '8029797': '931873',
 '8029803': '931873',
 '8028411': '930272',
 '7052860': '600413',
 '199639': '506069',
 '7032006': '500036A',
 '7002985': '500036A',
 '7010952': '500036A',
 '8021212': '930590',
 '8021273': '930590',
 '8022424': '930590',
 '7048154': '500609',
 '8025122': '930590',
 '8022423': '930590',
 '8021207': '930590',
 '8023594': '930339',
 '7046262': '503193',
 '7050558': '508867',
 '7050933': '503238',
 '7001875': '503238',
 '7001878': '503238',
 '7000193': '503238',
 '7000248': '503238',
 '7037986': '503238',
 '8031195': '930196',
 '8031199': '930196',
 '7042472': '503193',
 '8031187': '930196',
 '8031184': '930196',
 '7046261': '503193',
 '8031185': '930196',
 '8029014': '930982',
 '8031186': '930196',
 '8029431': '930710',
 '8031198': '930196',
 '8029966': '930500',
 '8031194': '930196',
 '8031192': '930196',
 '8031190': '930196',
 '111905': '271706',
 '8031189': '930196',
 '8031188': '930196',
 '8000749': '931544',
 '8023023': '931544',
 '8023016': '931544',
 '8017471': '931544',
 '8000767': '931544',
 '8023011': '931544',
 '8023010': '931544',
 '8023015': '931544',
 '8023014': '931544',
 '8023013': '931544',
 '8023022': '931544',
 '8023021': '931544',
 '8023020': '931544',
 '8023024': '931544',
 '8023017': '931544',
 '8023012': '931544',
 '8000740': '931544',
 '8000763': '931544',
 '8000750': '931544',
 '8023018': '931544',
 '8017468': '931544',
 '8000753': '931544',
 '8023019': '931544',
 '8000769': '931544',
 '8017470': '931544',
 '8000770': '931544',
 '8008179': '930024',
 '8008194': '930024',
 '8008195': '930024',
 '8008174': '930024',
 '7033511': '509524',
 '7011659': '509524',
 '7018862': '509524',
 '7033513': '509524',
 '7011710': '509524',
 '7033516': '509524',
 '7033515': '509524',
 '7052901': '600055',
 '7052903': '600055',
 '7052905': '600055',
 '7052904': '600055',
 '8022840': '931944',
 '7006269': '500925',
 '7034924': '500036A',
 '7003573': '504059',
 '7042722': '500036A',
 '7006762': '500262A',
 '33371454': '2002',
 '7052918': '500386',
 '8023703': '930590',
 '7000513': '502687',
 '7045936': '500017',
 '7046049': '600401',
 '7005282': '508867',
 '166509': '292609',
 '7050557': '508867',
 '7051893': '508867',
 '7041491': '500218A',
 '7052873': '503674',
 '8026281': '930035',
 '7001746': '502687',
 '8023439': '930035',
 '7010839': '500884A',
 '7040702': '500884A',
 '7000987': '500884A',
 '7042721': '500036A',
 '7044202': '500036A',
 '7044201': '500036A',
 '7044203': '500036A',
 '7044211': '500036A',
 '7003508': '504059',
 '8025462': '930590',
 '8021260': '930590',
 '8021277': '930590',
 '7052895': '500723C',
 '8008963': '930339',
 '7031502': '500017',
 '7032021': '500017',
 '7032020': '500017',
 '199616': '508393',
 '199615': '508393',
 '7050407': '500036A',
 '7042731': '500036A',
 'TISSRH': '282106',
 'AFFINPT': '282106',
 'AFFINRH': '282106',
 'TISSPT': '282106',
 '7008894': '500348',
 '7033601': '600347',
 '7048106': '600262',
 '33360611': '291802',
 '8033059': '930710',
 '8033057': '930710',
 '8033058': '930710',
 '7050666': '507884',
 '8028290': '930272',
 '7012704': '510631',
 '7020589': '508337',
 '8028289': '930272',
 '7002451': '500589A',
 '7002328': '500589A',
 '7010827': '500589A',
 '7005505': '504152',
 '8032575': '930053',
 '7037110': '500688',
 '7000449': '500962A',
 '7009372': '500218A',
 '7036196': '500218A',
 '7009317': '500218A',
 '7010955': '500218A',
 '8038028': '930283',
 '8021275': '930590',
 '8031278': '930982',
 '8031279': '930982',
 '8031277': '930982',
 '8031289': '930982',
 '8031271': '930982',
 '8031276': '930982',
 '8031236': '930982',
 '8031269': '930982',
 '8031275': '930982',
 '8031265': '930982',
 '8031232': '930982',
 '8031263': '930982',
 '8031287': '930982',
 '8031252': '930982',
 '8031261': '930982',
 '8031266': '930982',
 '8031248': '930982',
 '8031246': '930982',
 '8031249': '930982',
 '8031245': '930982',
 '8031244': '930982',
 '8031206': '930982',
 '8031205': '930982',
 '8031250': '930982',
 '8031247': '930982',
 '8031267': '930982',
 '8031230': '930982',
 '8031290': '930982',
 '8031224': '930982',
 '8031254': '930982',
 '8031260': '930982',
 '8031259': '930982',
 '8031258': '930982',
 '8031207': '930982',
 '8031221': '930982',
 '8031208': '930982',
 '8031214': '930982',
 '8031222': '930982',
 '8031209': '931660',
 '8031210': '930982',
 '8031211': '930982',
 '8031212': '930982',
 '8031223': '930982',
 '8031220': '930982',
 '8031264': '930982',
 '8031219': '930982',
 '8031213': '930982',
 '8031227': '930982',
 '8031229': '930982',
 '8031226': '930982',
 '8031225': '930982',
 '8031292': '930982',
 '8031293': '930982',
 '8031294': '930982',
 '8031228': '930982',
 '8031217': '930982',
 '8031270': '930982',
 '8031202': '930982',
 '8031203': '930982',
 '8031204': '930982',
 '8031218': '930982',
 '8031231': '930982',
 '8031295': '930982',
 '8031288': '930982',
 '8031272': '930982',
 '8031273': '930982',
 '8036494': '930790',
 '8035182': '930790',
 '8035183': '930790',
 '8037472': '930790',
 '8036477': '930790',
 '8034905': '930022',
 '8037255': '930790',
 '8037563': '930790',
 '8037651': '930790',
 '8037794': '930790',
 '8035589': '930790',
 '8037836': '930790',
 '8037793': '930790',
 '8032522': '930196',
 '8035955': '930022',
 '8032478': '930196',
 '8032487': '930196',
 '8032486': '930196',
 '8032517': '930196',
 '8032524': '930196',
 '8032489': '930196',
 '8032501': '930196',
 '8032500': '930196',
 '8032484': '930196',
 '8032483': '930196',
 '8037652': '930790',
 '8036014': '930790',
 '8037414': '930790',
 '8032503': '930196',
 '7052885': '603120',
 '8034980': '930790',
 '8034751': '930022',
 '8035926': '931544',
 '7052886': '603120',
 '8035823': '931544',
 '8036411': '930790',
 '8037562': '930790',
 '8036476': '930790',
 '8036318': '930790',
 '8037256': '930790',
 '8035923': '931544',
 '8035820': '931544',
 '8034933': '930022',
 '8034981': '930790',
 '8034752': '930022',
 '8035859': '931544',
 '8034932': '930022',
 '8034534': '930790',
 '8035590': '930790',
 '8034906': '930022',
 '8035891': '931544',
 '8034533': '930790',
 '8015799': '930790',
 '8037471': '930790',
 '8035856': '931544',
 '8032502': '930196',
 '8037837': '930790',
 '8032507': '930196',
 '8032514': '930196',
 '8032508': '930196',
 '8032509': '930196',
 '8032518': '930196',
 '8032510': '930196',
 '8032511': '930196',
 '8032512': '930196',
 '8032521': '930196',
 '8032485': '930196',
 '8032526': '930196',
 '8032515': '930196',
 '8032519': '930196',
 '8032520': '930196',
 '8032506': '930196',
 '8032491': '930196',
 '8032504': '930196',
 '8032513': '930196',
 '8032523': '930196',
 '8032479': '930196',
 '8032490': '930196',
 '8032525': '930196',
 '8032488': '930196',
 '8032516': '930196',
 '8033053': '930591',
 '8033070': '931660',
 '8033045': '930591',
 '8033055': '930591',
 '8033047': '930591',
 '8033054': '930591',
 '8038036': '930591',
 '8033050': '930591',
 '8032633': '930591',
 '8038037': '930591',
 '8033049': '930591',
 '8033031': '930591',
 '8033051': '930591',
 '8033048': '930591',
 '8033032': '930591',
 '8033052': '930591',
 '8033035': '930591',
 '8033033': '930591',
 '8033044': '930591',
 '8033056': '930591',
 '8038007': '931660',
 '8037993': '931660',
 '8033065': '931660',
 '8038004': '931660',
 '8033073': '931660',
 '8038038': '931621',
 '8038005': '931660',
 '8033069': '931660',
 '7049030': '500392',
 '8033043': '930591',
 '8033034': '930591',
 '8033036': '930591',
 '8033037': '930591',
 '8033038': '930591',
 '8033039': '930591',
 '8033072': '931660',
 '8033046': '930591',
 '8033071': '931660',
 '8033040': '930591',
 '8033041': '930591',
 '8038006': '931660',
 '8033042': '930591',
 '7010888': '500218A',
 '7010886': '500218A',
 '100241': '12330',
 '7052089': '600262',
 '8021360': '930590',
 '8033067': '930710',
 '8033010': '930710',
 '8033066': '930710',
 '8038048': '930710',
 '8038049': '930710',
 '8038051': '930710',
 '8038050': '930710',
 '8038047': '930710',
 '8023916': '930982',
 '8028221': '930982',
 '8019301': '930982',
 '8028933': '930982',
 '8037994': '930982',
 '8032315': '930982',
 '8019319': '930982',
 '8032410': '930982',
 '8037997': '930982',
 '8019345': '930982',
 '8032318': '930002',
 '8037996': '930982',
 '8021304': '930339',
 '8021305': '930590',

In [99]:
material_account_counts = train_df.groupby(['Material_Number', 'Account_Number_of_Vendor_or_Creditor']).size()

In [101]:
material_account_most_common = material_account_counts.groupby(level=0).idxmax()

In [102]:
material_account_dict = {material: account for material, account in material_account_most_common}

In [103]:
new_test_df['Account_Number_of_Vendor_or_Creditor'] = new_test_df['Material_Number'].map(material_account_dict)

In [104]:
submissions_df2 = new_test_df[['ID', 'Account_Number_of_Vendor_or_Creditor']]


submissions_df2['Account_Number_of_Vendor_or_Creditor'].fillna(0, inplace=True)
submissions_df2.to_csv('DATA/Submission4.csv', index=False)

/tmp/ipykernel_16830/3135809765.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  submissions_df2['Account_Number_of_Vendor_or_Creditor'].fillna(0, inplace=True)
/tmp/ipykernel_16830/3135809765.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submissions_df2['Account_Number_of_Vendor_or_Creditor'].fillna(0, inplace=True)

## merge two solutions

In [110]:
submissions_df3 = pd.read_csv('DATA/Submission3.csv')

In [111]:
for index, row in submissions_df2.iterrows():
    value = row['Account_Number_of_Vendor_or_Creditor']
    if value == 0:
        id_value = row['ID']
        corresponding_value = submissions_df3.loc[submissions_df3['ID'] == id_value, 'Account_Number_of_Vendor_or_Creditor'].values[0]
        submissions_df2.at[index, 'Account_Number_of_Vendor_or_Creditor'] = corresponding_value

In [112]:
submissions_df2.to_csv('DATA/Submission5.csv', index=False)

### second day

In [43]:
material_counts = new_train_df['Material_Number'].value_counts().sort_values(ascending=False)

In [44]:
material_counts

Material_Number
9000087     389
9000040     383
56590158    234
30030201    223
33315106    192
           ...
8004306       1
8004296       1
8004528       1
8011158       1
7054388       1
Name: count, Length: 11433, dtype: int64

In [45]:
material_account_dict = {}

# Iterate through the DataFrame
for index, row in new_train_df.iterrows():
    material_number = row['Material_Number']
    account_number = row['Account_Number_of_Vendor_or_Creditor']
    
    # Check if Material_Number is not NaN
    if pd.notnull(material_number):
        material_account_dict[material_number] = account_number

In [46]:
material_account_dict['9000087']

'34156'

In [47]:
new_train_df['day'] = pd.to_datetime(new_train_df['Purchasing_Document_Item _Date']).dt.day_name()

In [48]:
s = set()

for index, row in new_train_df.iterrows():
    material_number = row['Material_Number']
    
    if material_number == '9000087':
        s.add((row['day'],row['Account_Number_of_Vendor_or_Creditor'],row['Net_Price_in_Purchasing_Document_(in Document Currency)'],row['Account_Assignment_Category']))

In [49]:
print(len(s))

32

In [50]:
s

{('Friday', '30015', 10000, 'Partnership'),
 ('Friday', '30036', 1247540, 'Partnership'),
 ('Friday', '32750', 10000, 'Partnership'),
 ('Friday', '34004', 10000, 'Partnership'),
 ('Friday', '34004', 535660, 'Partnership'),
 ('Friday', '34156', 10000, 'Partnership'),
 ('Monday', '30015', 10000, 'Partnership'),
 ('Monday', '32750', 10000, 'Partnership'),
 ('Monday', '32750', 52710, 'Partnership'),
 ('Monday', '32750', 171790, 'Partnership'),
 ('Monday', '34004', 10000, 'Partnership'),
 ('Monday', '34156', 10000, 'Partnership'),
 ('Thursday', '30015', 10000, 'Partnership'),
 ('Thursday', '30036', 10000, 'Partnership'),
 ('Thursday', '32750', 10000, 'Partnership'),
 ('Thursday', '32750', 15790, 'Partnership'),
 ('Thursday', '32750', 278130, 'Partnership'),
 ('Thursday', '34004', 10000, 'Partnership'),
 ('Thursday', '34004', 330390, 'Partnership'),
 ('Thursday', '34156', 10000, 'Partnership'),
 ('Tuesday', '30015', 10000, 'Partnership'),
 ('Tuesday', '30036', 10000, 'Partnership'),
 ('Tuesday', '32750', 10000, 'Partnership'),
 ('Tuesday', '34004', 10000, 'Partnership'),
 ('Tuesday', '34156', 10000, 'Partnership'),
 ('Tuesday', '34221', 10000, 'Partnership'),
 ('Wednesday', '30015', 10000, 'Partnership'),
 ('Wednesday', '30036', 10000, 'Partnership'),
 ('Wednesday', '33623', 23200, 'Partnership'),
 ('Wednesday', '34004', 10000, 'Partnership'),
 ('Wednesday', '34156', 10000, 'Partnership'),
 ('Wednesday', '34221', 10000, 'Partnership')}

In [51]:
new_test_df.head(1)

,ID,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Account_Number_of_Vendor_or_Creditor
0,4400010190_10,4400010190,10,2023-10-02,58200302,10000,Vendor,2022-11-15,NaN,L,0.0,280705

In [52]:
df = []  

for index, row in new_train_df.iterrows():
    if row['Material_Number'] == '9000087' and row['Account_Number_of_Vendor_or_Creditor'] == '32750':
        df.append(row)  

result_df = pd.DataFrame(df)

In [53]:
result_df

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Name_1,Search_term_for_matchcode_search,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Wilaya,day
17924,32750,4300012114,10,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17944,32750,4300012114,20,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17963,32750,4300012114,30,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17999,32750,4300012114,190,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
18000,32750,4300012114,180,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58257,32750,4300012960,170,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58259,32750,4300012960,180,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58264,32750,4300012960,190,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58267,32750,4300012960,200,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58269,32750,4300012960,210,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday

In [54]:
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 209 entries, 17924 to 58269
Data columns (total 15 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Account_Number_of_Vendor_or_Creditor                     209 non-null    object
 1   Purchasing_Document_Number                               209 non-null    int64
 2   Item_Number_of_Purchasing_Document                       209 non-null    int64
 3   Purchasing_Document_Item _Date                           209 non-null    object
 4   Material_Number                                          209 non-null    object
 5   Net_Price_in_Purchasing_Document_(in Document Currency)  209 non-null    int64
 6   Account_Assignment_Category                              209 non-null    object
 7   Name_1                                                   209 non-null    object
 8   Search_term_for_matchcode_search                         209 non-null    object
 9   Created_On                                               209 non-null    object
 10  Flag_Material_for_Deletion_at_Client_Level               0 non-null      float64
 11  Base_Unit_of_Measure                                     209 non-null    object
 12  Net_Weight                                               209 non-null    float64
 13  Wilaya                                                   0 non-null      float64
 14  day                                                      209 non-null    object
dtypes: float64(3), int64(3), object(9)
memory usage: 26.1+ KB

In [65]:
result_df

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Name_1,Search_term_for_matchcode_search,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Wilaya,day
17924,32750,4300012114,10,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17944,32750,4300012114,20,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17963,32750,4300012114,30,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
17999,32750,4300012114,190,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
18000,32750,4300012114,180,2023-01-03,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58257,32750,4300012960,170,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58259,32750,4300012960,180,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58264,32750,4300012960,190,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58267,32750,4300012960,200,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday
58269,32750,4300012960,210,2023-09-11,9000087,10000,Partnership,Délices Orientaux,Délices Orientaux,2010-10-02,NaN,UN,0.0,NaN,Monday

In [66]:
xtr = set(train_df['Purchasing_Document_Number'])
xtt = set(test_df['Purchasing_Document_Number'])

In [67]:
len(xtr),len(xtt),len(xtr.intersection(xtt))

(27282, 9230, 307)

In [70]:
new_train_df

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Name_1,Search_term_for_matchcode_search,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Wilaya,day
0,502751,4500017998,1,2007-06-18,NaN,10000,Partnership,Saveurs du Maghreb,Saveurs du Maghreb,NaN,NaN,NaN,NaN,Alger,Monday
1,502611,4500018000,1,2007-06-18,NaN,10000,Partnership,Boulangerie Méditerranéenne,Boulangerie Méditerranéenne,NaN,NaN,NaN,NaN,NaN,Monday
2,502751,4500018110,1,2007-06-25,NaN,10000,Partnership,Saveurs du Maghreb,Saveurs du Maghreb,NaN,NaN,NaN,NaN,Alger,Monday
3,502611,4500018111,1,2007-06-25,NaN,10000,Partnership,Boulangerie Méditerranéenne,Boulangerie Méditerranéenne,NaN,NaN,NaN,NaN,NaN,Monday
4,502611,4500018215,1,2007-07-02,NaN,10000,Partnership,Boulangerie Méditerranéenne,Boulangerie Méditerranéenne,NaN,NaN,NaN,NaN,NaN,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61595,930982,4500170725,20,2023-09-29,8038233,10000,Vendor,Produits du Monde,Produits du Monde,2022-09-13,NaN,UN,0.0,NaN,Friday
61596,505100,4210140417,10,2023-09-30,NaN,10000,Partnership,Saveurs Sucrées,Saveurs Sucrées,NaN,NaN,NaN,NaN,NaN,Saturday
61597,505100,4210140418,10,2023-09-30,NaN,10000,Partnership,Saveurs Sucrées,Saveurs Sucrées,NaN,NaN,NaN,NaN,NaN,Saturday
61598,503600,4210140420,10,2023-09-30,NaN,10000,Partnership,Saveurs Gourmandes,Saveurs Gourmandes,NaN,NaN,NaN,NaN,NaN,Saturday
61599,505994,4210140419,10,2023-09-30,NaN,135000,Partnership,Saveurs Méditerranéennes,Saveurs Méditerranéennes,NaN,NaN,NaN,NaN,NaN,Saturday

In [91]:
new_train_df2 = new_train_df[['Account_Number_of_Vendor_or_Creditor', 'Purchasing_Document_Number', 'Material_Number','Created_On']]

In [92]:
new_train_df2 = new_train_df2.sort_values(by='Account_Number_of_Vendor_or_Creditor')

In [93]:
new_train_df2.head(20)

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Material_Number,Created_On
50379,10637,45005747,56620405,2019-07-03
56976,10637,45005838,56620405,2019-07-03
39050,10637,45005536,56620405,2019-07-03
45278,10637,45005561,56620611,2022-10-07
33835,10637,45005407,56620611,2022-10-07
26506,10637,4500160814,NaN,NaN
49683,10637,45005572,56620405,2019-07-03
21651,10637,45005293,56620405,2019-07-03
33813,10637,45005331,56620405,2019-07-03
37952,10637,45005479,56620611,2022-10-07
15045,10693,4500157573,NaN,NaN
24851,10744,45005381,52560303,2001-04-25
43108,10744,45005275,51260120,2000-02-02
29817,10744,45005453,53650609,2021-04-26
24833,10744,45005382,51290320,2002-06-20
55833,10744,45005783,100312,2023-08-01
27861,10744,45005415,51290330,2023-02-14
25828,10744,45005400,52560404,2016-03-07
16373,10744,45005247,52560404,2016-03-07
31306,10744,45005462,51260340,2023-03-13

In [96]:
new_train_df['Material_Number'].value_counts()

Material_Number
9000087     389
9000040     383
56590158    234
30030201    223
33315106    192
           ...
8038242       1
7002675       1
7050676       1
7005673       1
7054388       1
Name: count, Length: 11433, dtype: int64

## ml

In [5]:
new_train_df3 = train_df[['Account_Number_of_Vendor_or_Creditor', 'Purchasing_Document_Number', 'Purchasing_Document_Item _Date', 'Material_Number', 'Account_Assignment_Category', 'Net_Price_in_Purchasing_Document_(in Document Currency)']]

In [5]:
new_train_df3.head()

,Account_Number_of_Vendor_or_Creditor,Purchasing_Document_Number,Purchasing_Document_Item _Date,Material_Number,Account_Assignment_Category,Net_Price_in_Purchasing_Document_(in Document Currency)
0,502751,4500017998,2007-06-18,NaN,Partnership,10000
1,502611,4500018000,2007-06-18,NaN,Partnership,10000
2,502751,4500018110,2007-06-25,NaN,Partnership,10000
3,502611,4500018111,2007-06-25,NaN,Partnership,10000
4,502611,4500018215,2007-07-02,NaN,Partnership,10000

In [6]:
new_train_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_train_df3['Purchasing_Document_Item _Date'])

/tmp/ipykernel_75639/3514406532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_train_df3['Purchasing_Document_Item _Date'])

In [7]:
new_train_df3['Year'] = new_train_df3['Purchasing_Document_Item _Date'].dt.year
new_train_df3['Month'] = new_train_df3['Purchasing_Document_Item _Date'].dt.month
new_train_df3['Day'] = new_train_df3['Purchasing_Document_Item _Date'].dt.day

new_train_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

/tmp/ipykernel_75639/1055357225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df3['Year'] = new_train_df3['Purchasing_Document_Item _Date'].dt.year
/tmp/ipykernel_75639/1055357225.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df3['Month'] = new_train_df3['Purchasing_Document_Item _Date'].dt.month
/tmp/ipykernel_75639/1055357225.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df3['Day'] = new_train_df3['Purchasing_Document_Item _Date'].dt.day
/tmp/ipykernel_75639/1055357225.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

In [8]:
new_train_df3 = pd.get_dummies(new_train_df3, columns=['Account_Assignment_Category'])

In [9]:
material_dict = set()
count = 0
for material_num in new_train_df3['Material_Number'].unique():
    try:
        pd.to_numeric(material_num)
    except ValueError:
        if material_num not in material_dict:
            material_dict.add(material_num)

In [10]:
material_dict

{'AFFINPT', 'AFFINRH', 'FACONNAGE', 'TISSPT', 'TISSRH'}

In [11]:
material_dict2= {'AFFINPT':1, 'AFFINRH':2, 'FACONNAGE':3, 'TISSPT':4, 'TISSRH':5}

In [12]:
new_train_df3['Material_Number'] = new_train_df3['Material_Number'].replace(material_dict2)

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [19]:
from sklearn.svm import SVC

In [16]:
X = new_train_df3.drop('Account_Number_of_Vendor_or_Creditor', axis=1)
y = new_train_df3['Account_Number_of_Vendor_or_Creditor']

In [39]:
#X['Material_Number'].fillna(0, inplace=True)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
y_train

10496     930041
4914      932005
32538     600320
43015     506158
49639     507090
          ...
54343     930329
38158     509850
860       650186
15795    700000A
56422    509885A
Name: Account_Number_of_Vendor_or_Creditor, Length: 49280, dtype: object

In [41]:
param_grid = {
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

In [42]:
dt_classifier = DecisionTreeClassifier()

# Create GridSearchCV object
grid_search = GridSearchCV(estimator=dt_classifier, param_grid=param_grid, cv=5, scoring='accuracy', verbose=1, n_jobs=-1)

# Perform the grid search
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 108 candidates, totalling 540 fits

/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py:547: FitFailedWarning:
180 fits failed out of a total of 540.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
54 fits failed with the following error:
Traceback (most recent call last):
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/base.py", line 1467, in wrapper
    estimator._validate_params()
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
126 fits failed with the following error:
Traceback (most recent call last):
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_validation.py", line 895, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/base.py", line 1467, in wrapper
    estimator._validate_params()
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "/home/merwan/.local/lib/python3.10/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of DecisionTreeClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_search.py:1051: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.51030844 0.47674513 0.45144075
 0.43547078 0.43894075 0.42775974 0.39898539 0.39391234 0.38739854
 0.51852679 0.48979302 0.46544237 0.45525568 0.46365666 0.44719968
 0.42883523 0.42859172 0.42922078        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.23441558 0.23409091 0.23739854 0.23001218 0.22861201 0.22479708
 0.22404627 0.22542614 0.22475649 0.24474432 0.23900162 0.22680601
 0.24726055 0.24007711 0.24303977 0.23469968 0.24052354 0.23327922
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.44606331 0.42297078 0.4195414
 0.39983766 0.40929383 0.39935065 0.36657873 0.36986607 0.37183442
 0.4585836  0.44072646 0.42924107 0.42887581 0.4179789  0.41763393
 0.40342938 0.4015625  0.39512987        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.50438312 0.4742086  0.45150162 0.43993506 0.4322849  0.42029221
 0.3955763  0.39758523 0.38583604 0.51335227 0.48439529 0.46558442
 0.46087662 0.45777192 0.44894481 0.42633929 0.42426948 0.42806412]
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20, 30],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]},
             scoring='accuracy', verbose=1)

In [43]:
best_params = grid_search.best_params_
print("Best Parameters:", best_params)

Best Parameters: {'max_depth': None, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 2}

In [44]:
best_model = grid_search.best_estimator_

In [45]:
feature_importances = best_model.feature_importances_

In [46]:
importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': feature_importances})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

In [47]:
importance_df

                                             Feature  Importance
5                                                Day    0.278481
1                                    Material_Number    0.251912
0                         Purchasing_Document_Number    0.196286
2  Net_Price_in_Purchasing_Document_(in Document ...    0.140297
4                                              Month    0.097061
3                                               Year    0.026233
6            Account_Assignment_Category_Partnership    0.006159
7                 Account_Assignment_Category_Vendor    0.003572

In [73]:
y_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5244318181818182

In [76]:
new_test_df3 = test_df[[ 'Purchasing_Document_Number', 'Purchasing_Document_Item _Date', 'Material_Number', 'Account_Assignment_Category', 'Net_Price_in_Purchasing_Document_(in Document Currency)']]

In [77]:
material_dict = set()
count = 0
for material_num in new_test_df3['Material_Number'].unique():
    try:
        pd.to_numeric(material_num)
    except ValueError:
        if material_num not in material_dict:
            material_dict.add(material_num)


material_dict

{'FACONNAGE'}

In [78]:
new_test_df3['Material_Number'] = new_test_df3['Material_Number'].replace(material_dict2)

/tmp/ipykernel_7967/2312411871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3['Material_Number'] = new_test_df3['Material_Number'].replace(material_dict2)

In [79]:
new_test_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_test_df3['Purchasing_Document_Item _Date'])

/tmp/ipykernel_7967/555602625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_test_df3['Purchasing_Document_Item _Date'])

In [80]:
new_test_df3['Year'] = new_test_df3['Purchasing_Document_Item _Date'].dt.year
new_test_df3['Month'] = new_test_df3['Purchasing_Document_Item _Date'].dt.month
new_test_df3['Day'] = new_test_df3['Purchasing_Document_Item _Date'].dt.day

new_test_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

/tmp/ipykernel_7967/3401988455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3['Year'] = new_test_df3['Purchasing_Document_Item _Date'].dt.year
/tmp/ipykernel_7967/3401988455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3['Month'] = new_test_df3['Purchasing_Document_Item _Date'].dt.month
/tmp/ipykernel_7967/3401988455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3['Day'] = new_test_df3['Purchasing_Document_Item _Date'].dt.day
/tmp/ipykernel_7967/3401988455.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

In [81]:
new_test_df3 = pd.get_dummies(new_test_df3, columns=['Account_Assignment_Category'])

In [82]:
y  = best_model.predict(new_test_df3)

In [35]:
y

array(['751828', '261402', '508061', ..., '272101', '503150', '506105'],
      dtype=object)

In [26]:
test_df

,ID,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Is_the_order_deleted,Purchasing_Document_Item _Date,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight
0,4400010190_10,4400010190,10,NaN,2023-10-02,58200302,10000,Vendor,2022-11-15,NaN,L,0.0
1,4500171069_10,4500171069,10,NaN,2023-10-02,58200302,10000,Partnership,2022-11-15,NaN,L,0.0
2,4210140249_20,4210140249,20,NaN,2023-10-02,NaN,94050,Partnership,NaN,NaN,NaN,NaN
3,4500171067_20,4500171067,20,NaN,2023-10-02,55079741,10000,Vendor,2023-09-07,NaN,KG,5.0
4,4210140249_10,4210140249,10,NaN,2023-10-02,7044501,6560,Vendor,2016-09-29,NaN,UN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19896,4220040334_20,4220040334,20,NaN,2024-01-12,NaN,6855220,Partnership,NaN,NaN,NaN,NaN
19897,4220038512_30,4220038512,30,NaN,2024-01-12,NaN,5130,Partnership,NaN,NaN,NaN,NaN
19898,5500008347_10,5500008347,10,NaN,2024-01-12,133301,45950,Vendor,1998-08-28,NaN,KG,10.0
19899,4210142872_10,4210142872,10,NaN,2024-01-12,7045677,10000,Vendor,2017-09-21,NaN,UN,0.0
19900,4210142812_220,4210142812,220,NaN,2024-01-12,7006143,10000,Vendor,2005-12-03,NaN,M,0.0

In [83]:
results_df = pd.DataFrame({'ID': test_df.ID, 'Account_Number_of_Vendor_or_Creditor': y})

In [84]:
submissions_df = pd.read_csv('DATA/Submission10.csv')

In [85]:
for index, row in submissions_df.iterrows():
    value = row['Account_Number_of_Vendor_or_Creditor']
    id_value = row['ID']
    if value != '0':
        results_df.loc[results_df['ID'] == id_value, 'Account_Number_of_Vendor_or_Creditor'] = value

In [86]:
results_df.to_csv('DATA/Submission11.csv', index=False)

In [50]:
most_repeated_accounts = new_train_df3.groupby(['Day', 'Material_Number'])['Account_Number_of_Vendor_or_Creditor'].agg(lambda x: x.value_counts().idxmax())

In [51]:
most_repeated_accounts

Day  Material_Number
1    3                  271325
     100046              12395
     100066              12374
     100197              12296
     100204              12374
                         ...
31   8040852            930960
     8040905            930035
     9000040             30310
     910203             270717
     922130             270346
Name: Account_Number_of_Vendor_or_Creditor, Length: 20575, dtype: object

In [56]:
new_test_df3 = test_df
new_test_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_test_df3['Purchasing_Document_Item _Date'])

new_test_df3['Year'] = new_test_df3['Purchasing_Document_Item _Date'].dt.year
new_test_df3['Month'] = new_test_df3['Purchasing_Document_Item _Date'].dt.month
new_test_df3['Day'] = new_test_df3['Purchasing_Document_Item _Date'].dt.day

new_test_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

In [57]:
new_test_df3

,ID,Purchasing_Document_Number,Item_Number_of_Purchasing_Document,Is_the_order_deleted,Material_Number,Net_Price_in_Purchasing_Document_(in Document Currency),Account_Assignment_Category,Created_On,Flag_Material_for_Deletion_at_Client_Level,Base_Unit_of_Measure,Net_Weight,Year,Month,Day
0,4400010190_10,4400010190,10,NaN,58200302,10000,Vendor,2022-11-15,NaN,L,0.0,2023,10,2
1,4500171069_10,4500171069,10,NaN,58200302,10000,Partnership,2022-11-15,NaN,L,0.0,2023,10,2
2,4210140249_20,4210140249,20,NaN,NaN,94050,Partnership,NaN,NaN,NaN,NaN,2023,10,2
3,4500171067_20,4500171067,20,NaN,55079741,10000,Vendor,2023-09-07,NaN,KG,5.0,2023,10,2
4,4210140249_10,4210140249,10,NaN,7044501,6560,Vendor,2016-09-29,NaN,UN,0.0,2023,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19896,4220040334_20,4220040334,20,NaN,NaN,6855220,Partnership,NaN,NaN,NaN,NaN,2024,1,12
19897,4220038512_30,4220038512,30,NaN,NaN,5130,Partnership,NaN,NaN,NaN,NaN,2024,1,12
19898,5500008347_10,5500008347,10,NaN,133301,45950,Vendor,1998-08-28,NaN,KG,10.0,2024,1,12
19899,4210142872_10,4210142872,10,NaN,7045677,10000,Vendor,2017-09-21,NaN,UN,0.0,2024,1,12
19900,4210142812_220,4210142812,220,NaN,7006143,10000,Vendor,2005-12-03,NaN,M,0.0,2024,1,12

In [61]:
for index, row in new_test_df3.iterrows():

    day = row['Day']
    material_number = row['Material_Number']
    

    if (day, material_number) in most_repeated_accounts:

        predicted_account = most_repeated_accounts[(day, material_number)]
        

        new_test_df3.at[index, 'Account_Number_of_Vendor_or_Creditor'] = predicted_account
    else:
        
        new_test_df3.at[index, 'Account_Number_of_Vendor_or_Creditor'] = None

In [62]:
new_test_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19901 entries, 0 to 19900
Data columns (total 15 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   ID                                                       19901 non-null  object
 1   Purchasing_Document_Number                               19901 non-null  int64
 2   Item_Number_of_Purchasing_Document                       19901 non-null  int64
 3   Is_the_order_deleted                                     0 non-null      float64
 4   Material_Number                                          9708 non-null   object
 5   Net_Price_in_Purchasing_Document_(in Document Currency)  19901 non-null  int64
 6   Account_Assignment_Category                              19901 non-null  object
 7   Created_On                                               9708 non-null   object
 8   Flag_Material_for_Deletion_at_Client_Level               2 non-null      object
 9   Base_Unit_of_Measure                                     9708 non-null   object
 10  Net_Weight                                               9708 non-null   float64
 11  Year                                                     19901 non-null  int32
 12  Month                                                    19901 non-null  int32
 13  Day                                                      19901 non-null  int32
 14  Account_Number_of_Vendor_or_Creditor                     2026 non-null   object
dtypes: float64(2), int32(3), int64(3), object(7)
memory usage: 2.0+ MB

In [64]:
new_test_df4 = new_test_df3[['ID','Account_Number_of_Vendor_or_Creditor']]

In [65]:
new_test_df4

                   ID Account_Number_of_Vendor_or_Creditor
0       4400010190_10                                 None
1       4500171069_10                                 None
2       4210140249_20                                 None
3       4500171067_20                                 None
4       4210140249_10                                 None
...               ...                                  ...
19896   4220040334_20                                 None
19897   4220038512_30                                 None
19898   5500008347_10                                 None
19899   4210142872_10                                 None
19900  4210142812_220                                 None

[19901 rows x 2 columns]

In [66]:
submissions_df = pd.read_csv('DATA/Submission.csv')

In [67]:
for index, row in submissions_df.iterrows():
    value = row['Account_Number_of_Vendor_or_Creditor']
    id_value = row['ID']
    if value != '0':
        new_test_df4.loc[new_test_df4['ID'] == id_value, 'Account_Number_of_Vendor_or_Creditor'] = value

In [70]:
new_test_df4.fillna(0,inplace=True)

/tmp/ipykernel_7967/2654374157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test_df4.fillna(0,inplace=True)

In [71]:
new_test_df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19901 entries, 0 to 19900
Data columns (total 2 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    19901 non-null  object
 1   Account_Number_of_Vendor_or_Creditor  19901 non-null  object
dtypes: object(2)
memory usage: 311.1+ KB

In [72]:
new_test_df4.to_csv('DATA/Submission10.csv', index=False)

In [14]:
new_train_df5  = new_train_df3[['Account_Number_of_Vendor_or_Creditor','Purchasing_Document_Number','Material_Number','Day']]

In [133]:
new_train_df5 = new_train_df5.dropna(subset=['Material_Number'])

In [73]:
new_train_df5['Material_Number'].value_counts()

Material_Number
9000087     389
9000040     383
56590158    234
30030201    223
33315106    192
           ...
8038242       1
7002675       1
7050676       1
7005673       1
7054388       1
Name: count, Length: 11433, dtype: int64

In [166]:
new_train_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Account_Number_of_Vendor_or_Creditor  61600 non-null  object
 1   Purchasing_Document_Number            61600 non-null  int64
 2   Material_Number                       25949 non-null  object
 3   Day                                   61600 non-null  int32
dtypes: int32(1), int64(1), object(2)
memory usage: 1.6+ MB

In [17]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

2024-05-11 13:04:32.436677: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-05-11 13:04:32.436763: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-05-11 13:04:32.475912: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-05-11 13:04:32.581846: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-11 13:04:33.947674: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [15]:
new_train_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Account_Number_of_Vendor_or_Creditor  61600 non-null  object
 1   Purchasing_Document_Number            61600 non-null  int64
 2   Material_Number                       25949 non-null  object
 3   Day                                   61600 non-null  int32
dtypes: int32(1), int64(1), object(2)
memory usage: 1.6+ MB

In [75]:
new_train_df5['Material_Number'].fillna(0, inplace=True)

/tmp/ipykernel_65017/1838637866.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_train_df5['Material_Number'].fillna(0, inplace=True)
/tmp/ipykernel_65017/1838637866.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_train_df5['Material_Number'].fillna(0, inplace=True)

In [18]:
X = new_train_df5[['Purchasing_Document_Number', 'Material_Number', 'Day']].values
y = new_train_df5['Account_Number_of_Vendor_or_Creditor'].values


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [19]:
new_train_df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61600 entries, 0 to 61599
Data columns (total 4 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Account_Number_of_Vendor_or_Creditor  61600 non-null  object
 1   Purchasing_Document_Number            61600 non-null  int64
 2   Material_Number                       25949 non-null  object
 3   Day                                   61600 non-null  int32
dtypes: int32(1), int64(1), object(2)
memory usage: 1.6+ MB

In [20]:
new_train_df5['Account_Number_of_Vendor_or_Creditor'].value_counts()

Account_Number_of_Vendor_or_Creditor
930960    1765
930131    1063
930590    1053
931895    1025
261403     969
          ...
510863       1
509125       1
270121       1
932176       1
505994       1
Name: count, Length: 3753, dtype: int64

In [21]:
X_train.shape

(49280, 3)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Create Decision Tree classifier
dt_classifier = RandomForestClassifier(n_estimators=50)

# Train the classifier
dt_classifier.fit(X_train, y_train)

# Predict on the test set
y_pred_dt = dt_classifier.predict(X_test)

# Calculate accuracy
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print("Decision Tree Accuracy:", accuracy_dt)

Decision Tree Accuracy: 0.5006493506493507

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier


# Define classifiers
classifiers = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Neural Network": KNeighborsClassifier()
}

# Train and test each classifier
for name, classifier in classifiers.items():
    print("Training", name)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(name, "Accuracy:", accuracy)

Training Decision Tree
Decision Tree Accuracy: 0.5280032467532467
Training Neural Network
Neural Network Accuracy: 0.5405032467532468

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [25]:
# Define classifiers
classifiers = {
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "AdaBoost": AdaBoostClassifier(random_state=42),
    "Gradient Boosting": GradientBoostingClassifier(random_state=42),
    "Logistic Regression": LogisticRegression(random_state=42),
    "Support Vector Machine": SVC(random_state=42),
    "K-Nearest Neighbors": KNeighborsClassifier(),
    "Gaussian Naive Bayes": GaussianNB(),
}

# Train and test each classifier
for name, classifier in classifiers.items():
    print("Training", name)
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(name, "Accuracy:", accuracy)

Training Decision Tree
Decision Tree Accuracy: 0.5280032467532467
Training AdaBoost

/home/merwan/.local/lib/python3.10/site-packages/sklearn/ensemble/_weight_boosting.py:519: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

AdaBoost Accuracy: 0.04797077922077922
Training Gradient Boosting
Gradient Boosting Accuracy: 0.005600649350649351
Training Logistic Regression

/home/merwan/.local/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression Accuracy: 0.04853896103896104
Training Support Vector Machine
Support Vector Machine Accuracy: 0.04862012987012987
Training K-Nearest Neighbors
K-Nearest Neighbors Accuracy: 0.5405032467532468
Training Gaussian Naive Bayes
Gaussian Naive Bayes Accuracy: 0.07767857142857143

In [31]:
classifier = KNeighborsClassifier()
classifier.fit(X, y)

y_pred = classifier.predict(X)
accuracy = accuracy_score(y, y_pred)
print(name, "Accuracy:", accuracy)

Neural Network Accuracy: 0.688474025974026

In [57]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for grid search
param_grid = {
    'n_neighbors': [3, 5, 7, 9],  # List of values for k
    'weights': ['uniform', 'distance'],  # Weighting strategy
    'metric': ['euclidean', 'manhattan']  # Distance metric
}

# Create the KNN classifier
knn = KNeighborsClassifier()

# Perform grid search
grid_search = GridSearchCV(estimator=knn, param_grid=param_grid, cv=5, scoring='accuracy')

# Fit the grid search to the training data
grid_search.fit(X_train, y_train)

# Get the best parameters and best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Get the best model from the grid search
best_knn = grid_search.best_estimator_

# Evaluate the best model on the test set
y_pred = best_knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Best KNN Accuracy on Test Set:", accuracy)

/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best Parameters: {'metric': 'manhattan', 'n_neighbors': 3, 'weights': 'distance'}
Best Score: 0.6592735389610389
Best KNN Accuracy on Test Set: 0.6758116883116884

In [95]:
X_train

array([[4500155018, '8032442', 19],
       [4500142341, nan, 30],
       [6000036689, '7025457', 28],
       ...,
       [4500101113, nan, 31],
       [4400009583, '51110904', 16],
       [4210139727, '7044795', 1]], dtype=object)

In [96]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid for grid search
param_grid = {
    'criterion': ['entropy'],  # Criterion for splitting
    'min_samples_split': [2, 5, 10],    # Minimum number of samples required to split an internal node
}

# Create the Decision Tree classifier
dt_classifier = DecisionTreeClassifier(random_state=42)

# Perform grid search
grid_search_dt = GridSearchCV(estimator=dt_classifier, param_grid=param_grid, cv=5, scoring='accuracy')

# Fit the grid search to the training data
grid_search_dt.fit(X_train, y_train)

# Get the best parameters and best score
best_params_dt = grid_search_dt.best_params_
best_score_dt = grid_search_dt.best_score_

print("Best Parameters for Decision Tree:", best_params_dt)
print("Best Score for Decision Tree:", best_score_dt)

# Get the best model from the grid search
best_dt = grid_search_dt.best_estimator_

# Evaluate the best model on the test set
y_pred_dt = best_dt.predict(X_test)
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print("Best Decision Tree Accuracy on Test Set:", accuracy_dt)

/home/merwan/.local/lib/python3.10/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

Best Parameters for Decision Tree: {'criterion': 'entropy', 'min_samples_split': 2}
Best Score for Decision Tree: 0.5240462662337663
Best Decision Tree Accuracy on Test Set: 0.5362012987012987

In [30]:
X

array([[4500017998, 0, 18],
       [4500018000, 0, 18],
       [4500018110, 0, 25],
       ...,
       [4210140418, 0, 30],
       [4210140420, 0, 30],
       [4210140419, 0, 30]], dtype=object)

In [23]:
test_df = pd.read_csv('DATA/TestKPMG.csv')

In [24]:
new_test_df3 = test_df
new_test_df3['Purchasing_Document_Item _Date'] = pd.to_datetime(new_test_df3['Purchasing_Document_Item _Date'])

new_test_df3['Year'] = new_test_df3['Purchasing_Document_Item _Date'].dt.year
new_test_df3['Month'] = new_test_df3['Purchasing_Document_Item _Date'].dt.month
new_test_df3['Day'] = new_test_df3['Purchasing_Document_Item _Date'].dt.day

new_test_df3.drop('Purchasing_Document_Item _Date', axis=1, inplace=True)

In [25]:
material_dict2= {'AFFINPT':1, 'AFFINRH':2, 'FACONNAGE':3, 'TISSPT':4, 'TISSRH':5}
new_test_df3['Material_Number'] = new_test_df3['Material_Number'].replace(material_dict2)

In [26]:
#new_test_df3.fillna(0, inplace=True)
Xt = new_test_df3[['Purchasing_Document_Number', 'Material_Number', 'Day']]

In [27]:
Xt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19901 entries, 0 to 19900
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Purchasing_Document_Number  19901 non-null  int64
 1   Material_Number             9708 non-null   object
 2   Day                         19901 non-null  int32
dtypes: int32(1), int64(1), object(1)
memory usage: 388.8+ KB

In [99]:
Xt.to_csv('test_new.csv')

In [ ]:
new_test_df3

In [86]:
Xt

array([[4400010190,          2],
       [4500171069,          2],
       [4210140249,          2],
       ...,
       [5500008347,         12],
       [4210142872,         12],
       [4210142812,         12]])

In [28]:
yt = dt_classifier.predict(Xt)

/home/merwan/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [29]:
yt

array(['751828', '700021', '500488', ..., '282304', '504814', '502495'],
      dtype=object)

In [57]:
y2 =  dt_classifier.predict(Xt)

In [58]:
y2

array(['740002', '280705', '500872', ..., '271624', '600471', '500073A'],
      dtype=object)

In [59]:
import numpy as np

In [66]:
result = np.where(yt == y2, y2, '0')

In [31]:
results_df = pd.DataFrame({'ID': test_df.ID, 'Account_Number_of_Vendor_or_Creditor': yt})

In [32]:
results_df.to_csv('DATA/Submission24.csv', index=False)

In [159]:
submissions_dfkamel.to_csv('DATA/Submissionkamel.csv', index=False)

In [156]:
submissions_dfkamel = pd.read_csv('DATA/kamal.csv')

In [33]:
submissions_df = pd.read_csv('DATA/Submission4.csv')

In [34]:
for index, row in submissions_df.iterrows():
    value = row['Account_Number_of_Vendor_or_Creditor']
    id_value = row['ID']
    if value != '0':
        results_df.loc[results_df['ID'] == id_value, 'Account_Number_of_Vendor_or_Creditor'] = value

In [108]:
# Define a function to read the files and count the number of rows with the same predicted values
def count_same_predicted_values(file1, file2, file3):
    # Open the files
    with open(file1, 'r') as f1, open(file2, 'r') as f2, open(file3, 'r') as f3:
        # Initialize count
        count = 0
        # Iterate over the rows of all files simultaneously
        for line1, line2, line3 in zip(f1, f2, f3):
            # Split the lines to extract the predicted values
            predicted_value1 = line1.strip().split(',')[1]  # Assuming the predicted value is in the second column
            predicted_value2 = line2.strip().split(',')[1]  # Assuming the predicted value is in the second column
            predicted_value3 = line3.strip().split(',')[1]  # Assuming the predicted value is in the second column
            # Compare the predicted values and increment count if they are equal across all files
            if predicted_value1 == predicted_value2 == predicted_value3:
                count += 1
    return count

# File paths
file1 = 'DATA/Submission20.csv'  # Replace 'file1.csv' with the path to your first file
file2 = 'DATA/Submission7.csv'  # Replace 'file2.csv' with the path to your second file
file3 = 'DATA/Submission9.csv'  # Replace 'file2.csv' with the path to your second file

# Count the number of rows with the same predicted values across all files
num_same_predicted_values = count_same_predicted_values(file1, file2, file3)
print("Number of rows with the same predicted values across all files:", num_same_predicted_values)

Number of rows with the same predicted values across all files: 7762

In [114]:
def create_voting_file(file1, file2, file3, output_file):
    # Open the files
    with open(file1, 'r') as f1, open(file2, 'r') as f2, open(file3, 'r') as f3:
        # Open the output file for writing
        with open(output_file, 'w') as out_file:
            # Iterate over the rows of all files simultaneously
            for line1, line2, line3 in zip(f1, f2, f3):
                # Split the lines to extract the predicted values
                predicted_value1 = line1.strip().split(',')[1]  # Assuming the predicted value is in the second column
                predicted_value2 = line2.strip().split(',')[1]  # Assuming the predicted value is in the second column
                predicted_value3 = line3.strip().split(',')[1]  # Assuming the predicted value is in the second column
                # Check if two predicted values are the same
                if predicted_value1 == predicted_value2:
                    # If they are the same, write the predicted value to the output file
                    out_file.write(f"{line1.strip()}\n")
                elif predicted_value1 == predicted_value3:
                    # If predicted_value1 matches predicted_value3, write predicted_value1 to the output file
                    out_file.write(f"{line1.strip()}\n")
                elif predicted_value2 == predicted_value3:
                    # If predicted_value2 matches predicted_value3, write predicted_value2 to the output file
                    out_file.write(f"{line2.strip()}\n")
                else:
                    # If there's no consensus, write 0 as the predicted value to the output file
                    out_file.write(f"{line2.strip()}\n")
 # Assuming the first column is the ID column

In [115]:
output_file = 'voting_result3.csv'  # Output file to write the voting-based predicted values

# Create the new file with voting-based predicted values
create_voting_file(file1, file2, file3, output_file)